---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Our Research</h3>
    <p>Dr. Kim’s research program focuses on the genetic and metabolic regulation of heart development, function and disease, with an emphasis on obesity, diabetes and heart failure. He is interested in the molecular function and mechanism of Irx transcription factors in the heart, which are not only implicated in organ development, but also in energy homeostasis regulation.<br><br>
The team is also investigating metabolism of the heart and its communications with other core metabolic tissues/organs (e.g., adipose tissue and liver). Using genetically engineered mice as primary models, the research programme integrates physiology with molecular and systems biology approaches to address fundamental questions about cardiac metabolism in heart function and diseases.</p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/heartsection.png" alt="Home" width="100%">
  </div>
</div>

{% include publications.html %}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
